<div class="read-only-widget-container">
  <div class="list-item">
    <p class="list-title">At Least One Measure</p>
    <p class="list-value">{{_healthMeasure.atleast_one_measure || 'N/A'}}</p>
  </div>
  <div class="list-item">
    <p class="list-title">Immunization Measure</p>
    <p class="list-value">{{_healthMeasure.immunization_measure || 'N/A'}}</p>
  </div>
  <div class="list-item">
    <p class="list-title">Reportable Measure</p>
    <p class="list-value">{{_healthMeasure.reportable_lab_results_measure || 'N/A'}}</p>
  </div>
  <div class="list-item">
    <p class="list-title">Syndromic Measure</p>
    <p class="list-value">{{_healthMeasure.syndromic_surveillance_measure || 'N/A'}}</p>
  </div>
  <div class="list-item">
    <p class="list-title">Registry Measure</p>
    <p class="list-value">{{_healthMeasure.registry_measure || 'N/A'}}</p>
  </div>
</div>
