.dashboard-container {
  margin: 20px;
}

.dashboard-state-dropdown {
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-spinner {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
